body{
    background-color: #e4f9f5;
}

html {
  font-family: Arial;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

button{

    background-color: #30e3ca;
    font-size: 48px;

    
}
input{

  background-color: #30e3ca;
  font-size: 48px;
  text-align: right;

  
}
p{

  
  font-size: 48px;
  text-align: center;

  
}



.myInput {
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #30e3ca;    
   
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
    display: block;
  }
  
  .topnav a.icon {
   
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    
    color: black;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }

p {
    
    color: #11999e;
    font-size: 72px;
    text-align: center;
    width: 100%;
}

.box {
  float: left;
  width: 50%;
  
  background: #000000;
  box-sizing: border-box;
  border: 3px solid #ffffff;
  margin-top: 10px;
  
  color: white;
 }
 .box1 {
  float: left;
  width: 50%;
  
  background: #000000;
  box-sizing: border-box;
  border: 3px solid #ffffff;
  
  color: white;
 }
 table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: #ffffff;
  width: 100%;
  font-size: 1.5rem;
}

td, th {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
  font-size: 1.5rem;
}

.tabWerte{
  font-size: 1rem;
  text-align: center;
}